<div item-width="100%" ></div>
<div id="payments"></div>
<div id="deposit"></div>
<div id="failedTransaction"></div>
<div id="refund"></div>
<div id="subscriptions"></div>
<div id="customers"></div>
</div>
<script type="text/javascript">
Highcharts.chart('payments', {

title: {
    text: 'Payments'
},
xAxis: {
        type: 'datetime',
        dateTimeLabelFormats: { // don't display the dummy year
        hour:'%H:%M',
         
        }
    },
    credits: {
      enabled: false
  },
yAxis: {
    title: {
        text: 'Volume'
    }
},
legend: {
    layout: 'vertical',
    align: 'right',
    verticalAlign: 'middle'
},
plotOptions: {
    series: {
        dataLabels:{enabled: true},
        label: {
            connectorAllowed: false
        },
        pointStart: 2
    }
},
series: [{
    name: '$',
    data: [[Date.UTC(2012, 5, 22, 8, 15),1500], [Date.UTC(2012, 5, 22, 10, 15),1580], 
    [Date.UTC(2012, 5, 22, 12, 15),3200], [Date.UTC(2012, 5, 22, 14, 15),3760], [Date.UTC(2012, 5, 22, 16, 15),4150],
    [Date.UTC(2012, 5, 22, 18, 15), 5600], [Date.UTC(2012, 5, 22, 20, 15),8400],[Date.UTC(2012, 5, 22, 22, 15), 10000]]
}],

responsive: {
    rules: [{
        condition: {
            maxWidth: 500
        },
        chartOptions: {
            legend: {
                layout: 'horizontal',
                align: 'center',
                verticalAlign: 'bottom'
            }
        }
    }]
}

});
Highcharts.chart('deposit', {

title: {
    text: 'Deposits'
},
yAxis: {
    title: {
        text: 'Volume'
    }
},
credits: {
      enabled: false
  },
xAxis: {
        type: 'datetime',
        dateTimeLabelFormats: { // don't display the dummy year
        hour:'%H:%M',
         
        }
    },
legend: {
    layout: 'vertical',
    align: 'right',
    verticalAlign: 'middle'
},
plotOptions: {
    series: {
        dataLabels:{enabled:true},
        label: {
            connectorAllowed: false
        },
        pointStart: 2
    }
},
series: [{
    name: '$',
    data: [[Date.UTC(2012, 5, 22, 8, 15),150], [Date.UTC(2012, 5, 22, 10, 15),580], 
    [Date.UTC(2012, 5, 22, 12, 15),1200], [Date.UTC(2012, 5, 22, 14, 15),1750], [Date.UTC(2012, 5, 22, 16, 15),2000],
    [Date.UTC(2012, 5, 22, 18, 15), 3500], [Date.UTC(2012, 5, 22, 20, 15),4800], [Date.UTC(2012, 5, 22, 22, 15),5000]]
}],

responsive: {
    rules: [{
        condition: {
            maxWidth: 500
        },
        chartOptions: {
            legend: {
                layout: 'horizontal',
                align: 'center',
                verticalAlign: 'bottom'
            }
        }
    }]
}

});
</script>

<script>
        var jsonString = '{"type": "Fraud","value":"Payment of $500 Looks Suspicious", "transactionID":"5682365489"}' ;
  
   window.setTimeout(window.sendtoNative(jsonString), 20000);
 
   </script>        